.img-fluid {
  height: 500px;
  object-fit: cover;
}
.movie-spec {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.iconlist {
  display: flex;
  justify-content: flex-end;
}
#whole-card {
  width: 330px;
  margin-top: 10px;
}
.inputtext {
  display: flex;
  flex-direction: column;

  width: 800px;
  /* align-items: center; */
  /* justify-content: center; */
}
@media (max-width: 900px) {
  .inputtext {
    width: 700px;
  }
}
@media (max-width: 700px) {
  .inputtext {
    width: 500px;
  }
}
@media (max-width: 500px) {
  .inputtext {
    width: 350px;
  }
}
.rating {
  margin-top: 10px;
}
.like-dislike {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

button {
  border: none;
}
.add-movie {
  display: grid;
  place-content: center;

  min-height: 100vh;
}
.addmoviebut {
  width: 300px;
  margin: 0 auto;
}
.inputtext > div {
  margin-bottom: 10px;
}
.link {
  font-size: 20px;
  margin-left: 10px;
}
.form {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  align-items: center;
}
.cards-list {
  display: flex;
  justify-content: center;
  gap: 5px;
  flex-wrap: wrap;
  /* flex-direction: column; */
}
