.img-fluid {
  height: 500px;
  object-fit: cover;
}
.movie-spec {
  display: flex;
  justify-content: space-between;
}

#whole-card {
  width: 330px;

  place-content: center;
}
.like-dislike {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

button {
  border: none;
}
.add-movie {
  display: grid;
  place-content: center;
  min-height: 100vh;
}
.inputtext {
  display: flex;
  flex-direction: column;
  width: 500px;
}
.inputtext > div {
  margin-bottom: 10px;
}
.link {
  font-size: 20px;
  margin-left: 10px;
}
